In [1]:
class Empleado:
    nombre_universidad = "Universidad Nacional Mayor de San Marcos"
    total_empleados = 0
    def __init__(self, primer_nombre, apellido, dni, puesto, salario):
        self.primer_nombre = primer_nombre
        self.apellido = apellido
        self.dni = dni
        self.puesto = puesto
        self.salario = salario

        Empleado.total_empleados += 1

    def obtener_nombre(self):
        return f"{self.primer_nombre} {self.apellido}"

In [2]:

empleado1 = Empleado("Manuel", "Loaiza", "12345678", "Profesor", 4000)
empleado2 = Empleado("Ana", "Pérez", "87654321", "Administrativo", 3500)

In [3]:
print(empleado1.obtener_nombre())

print(empleado2.obtener_nombre())

Manuel Loaiza
Ana Pérez

In [4]:
print(f"Total de empleados: {Empleado.total_empleados}")

Total de empleados: 2

In [5]:
empleado3 = Empleado("Kerry", "Martinez", "76316074", "Consejero", 2500)
empleado4 = Empleado("Sofia", "Ricci", "29374837", "Limpieza", 1800)

In [6]:
print(empleado3.obtener_nombre())

print(empleado4.obtener_nombre())

Kerry Martinez
Sofia Ricci

In [7]:
print(f"Total de empleados: {Empleado.total_empleados}")

Total de empleados: 4